{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <!-- User Profile Photo -->
            <img src="{{ user.profile_photo.url }}" class="img-fluid rounded-circle" alt="{{ user.username }}">
            
            <!-- User Bio -->
            <div class="mt-3">
                
                <h3>@{{ user.username }}</h3>
                <p>{{ user.bio }}</p>
                
                
            </div>
        </div>
        <div class="col-md-8">
            <h2>Posts and Comments by {{ user.username }}</h2>
            <ul class="list-group">
                {% for post in user_posts %}
                    <li class="list-group-item">
                        <a href="{% url 'posts:post_detail' post.slug %}">{{ post.title }}</a>
                        {{ post.content|linebreaks}}
                    </li>
                {% empty %}
                    <li class="list-group-item">No posts available.</li>
                {% endfor %}
                
                {% for comment in user_comments %}
                    <li class="list-group-item">
                        {{ comment.post.title|linebreaks }} (comment)
                        <a href="{% url 'posts:post_detail' comment.post.slug %}">{{ comment.content }}</a>    
                    </li>
                {% empty %}
                    <li class="list-group-item">No comments available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
